# Node Modules (Backend y Front)
**/node_modules/

# Seguridad y Claves (NO SUBIR)
**/.env
**/.env.*
!**/.env.example

# Carpetas de Construcción (Builds)
backend/dist/
front/dist/
front/.quasar/

# Archivos del Sistema
Thumbs.db
.DS_Store

# Logs de Errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*